<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsq.mapper.BasAreaMapper">
  <resultMap id="BaseResultMap" type="com.hsq.entity.BasArea">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Province" jdbcType="VARCHAR" property="province" />
    <result column="City" jdbcType="VARCHAR" property="city" />
    <result column="County" jdbcType="VARCHAR" property="county" />
    <result column="PostalCode" jdbcType="INTEGER" property="postalcode" />
    <result column="SimpleCode" jdbcType="VARCHAR" property="simplecode" />
    <result column="CityCode" jdbcType="VARCHAR" property="citycode" />
    <result column="EntryUnitID" jdbcType="VARCHAR" property="entryunitid" />
    <result column="ComplementUnitID" jdbcType="VARCHAR" property="complementunitid" />
    <result column="Nature" jdbcType="INTEGER" property="nature" />
    <result column="TheArea" jdbcType="INTEGER" property="thearea" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Province, City, County, PostalCode, SimpleCode, CityCode, EntryUnitID, ComplementUnitID,
    Nature, TheArea
  </sql>
  <select id="selectByExample" parameterType="com.hsq.entity.BasAreaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bas_area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bas_area
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bas_area
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hsq.entity.BasAreaExample">
    delete from bas_area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hsq.entity.BasArea">
    insert into bas_area (ID, Province, City,
      County, PostalCode, SimpleCode,
      CityCode, EntryUnitID, ComplementUnitID,
      Nature, TheArea)
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{county,jdbcType=VARCHAR}, #{postalcode,jdbcType=INTEGER}, #{simplecode,jdbcType=VARCHAR},
      #{citycode,jdbcType=VARCHAR}, #{entryunitid,jdbcType=VARCHAR}, #{complementunitid,jdbcType=VARCHAR},
      #{nature,jdbcType=INTEGER}, #{thearea,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hsq.entity.BasArea">
    insert into bas_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="province != null">
        Province,
      </if>
      <if test="city != null">
        City,
      </if>
      <if test="county != null">
        County,
      </if>
      <if test="postalcode != null">
        PostalCode,
      </if>
      <if test="simplecode != null">
        SimpleCode,
      </if>
      <if test="citycode != null">
        CityCode,
      </if>
      <if test="entryunitid != null">
        EntryUnitID,
      </if>
      <if test="complementunitid != null">
        ComplementUnitID,
      </if>
      <if test="nature != null">
        Nature,
      </if>
      <if test="thearea != null">
        TheArea,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        #{postalcode,jdbcType=INTEGER},
      </if>
      <if test="simplecode != null">
        #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="entryunitid != null">
        #{entryunitid,jdbcType=VARCHAR},
      </if>
      <if test="complementunitid != null">
        #{complementunitid,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        #{nature,jdbcType=INTEGER},
      </if>
      <if test="thearea != null">
        #{thearea,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hsq.entity.BasAreaExample" resultType="java.lang.Long">
    select count(*) from bas_area
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bas_area
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.province != null">
        Province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        City = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.county != null">
        County = #{record.county,jdbcType=VARCHAR},
      </if>
      <if test="record.postalcode != null">
        PostalCode = #{record.postalcode,jdbcType=INTEGER},
      </if>
      <if test="record.simplecode != null">
        SimpleCode = #{record.simplecode,jdbcType=VARCHAR},
      </if>
      <if test="record.citycode != null">
        CityCode = #{record.citycode,jdbcType=VARCHAR},
      </if>
      <if test="record.entryunitid != null">
        EntryUnitID = #{record.entryunitid,jdbcType=VARCHAR},
      </if>
      <if test="record.complementunitid != null">
        ComplementUnitID = #{record.complementunitid,jdbcType=VARCHAR},
      </if>
      <if test="record.nature != null">
        Nature = #{record.nature,jdbcType=INTEGER},
      </if>
      <if test="record.thearea != null">
        TheArea = #{record.thearea,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bas_area
    set ID = #{record.id,jdbcType=INTEGER},
      Province = #{record.province,jdbcType=VARCHAR},
      City = #{record.city,jdbcType=VARCHAR},
      County = #{record.county,jdbcType=VARCHAR},
      PostalCode = #{record.postalcode,jdbcType=INTEGER},
      SimpleCode = #{record.simplecode,jdbcType=VARCHAR},
      CityCode = #{record.citycode,jdbcType=VARCHAR},
      EntryUnitID = #{record.entryunitid,jdbcType=VARCHAR},
      ComplementUnitID = #{record.complementunitid,jdbcType=VARCHAR},
      Nature = #{record.nature,jdbcType=INTEGER},
      TheArea = #{record.thearea,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hsq.entity.BasArea">
    update bas_area
    <set>
      <if test="province != null">
        Province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        City = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        County = #{county,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null">
        PostalCode = #{postalcode,jdbcType=INTEGER},
      </if>
      <if test="simplecode != null">
        SimpleCode = #{simplecode,jdbcType=VARCHAR},
      </if>
      <if test="citycode != null">
        CityCode = #{citycode,jdbcType=VARCHAR},
      </if>
      <if test="entryunitid != null">
        EntryUnitID = #{entryunitid,jdbcType=VARCHAR},
      </if>
      <if test="complementunitid != null">
        ComplementUnitID = #{complementunitid,jdbcType=VARCHAR},
      </if>
      <if test="nature != null">
        Nature = #{nature,jdbcType=INTEGER},
      </if>
      <if test="thearea != null">
        TheArea = #{thearea,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hsq.entity.BasArea">
    update bas_area
    set Province = #{province,jdbcType=VARCHAR},
      City = #{city,jdbcType=VARCHAR},
      County = #{county,jdbcType=VARCHAR},
      PostalCode = #{postalcode,jdbcType=INTEGER},
      SimpleCode = #{simplecode,jdbcType=VARCHAR},
      CityCode = #{citycode,jdbcType=VARCHAR},
      EntryUnitID = #{entryunitid,jdbcType=VARCHAR},
      ComplementUnitID = #{complementunitid,jdbcType=VARCHAR},
      Nature = #{nature,jdbcType=INTEGER},
      TheArea = #{thearea,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>
