<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.mapper.reportforms.ReportformsMapper" >
  <resultMap id="BaseResultMap" type="com.lj.entity.reportforms.Reportforms" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wattname" property="wattname" jdbcType="VARCHAR" />
    <result column="succeed" property="succeed" jdbcType="INTEGER" />
    <result column="defeated" property="defeated" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, wattname, succeed, defeated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lj.entity.reportforms.ReportformsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report_forms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from report_forms
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from report_forms
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lj.entity.reportforms.ReportformsExample" >
    delete from report_forms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lj.entity.reportforms.Reportforms" >
    insert into report_forms (id, wattname, succeed, 
      defeated)
    values (#{id,jdbcType=INTEGER}, #{wattname,jdbcType=VARCHAR}, #{succeed,jdbcType=INTEGER}, 
      #{defeated,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lj.entity.reportforms.Reportforms" >
    insert into report_forms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wattname != null" >
        wattname,
      </if>
      <if test="succeed != null" >
        succeed,
      </if>
      <if test="defeated != null" >
        defeated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wattname != null" >
        #{wattname,jdbcType=VARCHAR},
      </if>
      <if test="succeed != null" >
        #{succeed,jdbcType=INTEGER},
      </if>
      <if test="defeated != null" >
        #{defeated,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lj.entity.reportforms.ReportformsExample" resultType="java.lang.Integer" >
    select count(*) from report_forms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update report_forms
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.wattname != null" >
        wattname = #{record.wattname,jdbcType=VARCHAR},
      </if>
      <if test="record.succeed != null" >
        succeed = #{record.succeed,jdbcType=INTEGER},
      </if>
      <if test="record.defeated != null" >
        defeated = #{record.defeated,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update report_forms
    set id = #{record.id,jdbcType=INTEGER},
      wattname = #{record.wattname,jdbcType=VARCHAR},
      succeed = #{record.succeed,jdbcType=INTEGER},
      defeated = #{record.defeated,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateReportforms" parameterType="com.lj.entity.reportforms.Reportforms">
    update report_forms set succeed=#{succeed},defeated=#{defeated} where id=#{id}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.entity.reportforms.Reportforms" >
    update report_forms
    <set >
      <if test="wattname != null" >
        wattname = #{wattname,jdbcType=VARCHAR},
      </if>
      <if test="succeed != null" >
        succeed = #{succeed,jdbcType=INTEGER},
      </if>
      <if test="defeated != null" >
        defeated = #{defeated,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.entity.reportforms.Reportforms" >
    update report_forms
    set wattname = #{wattname,jdbcType=VARCHAR},
      succeed = #{succeed,jdbcType=INTEGER},
      defeated = #{defeated,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>