<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sor.mapper.SorCheckBoundMapper">
  <resultMap id="BaseResultMap" type="com.sor.entity.SorCheckBound">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="ScanID" jdbcType="INTEGER" property="scanid" />
    <result column="CargoSum" jdbcType="INTEGER" property="cargosum" />
    <result column="CheckPerson" jdbcType="VARCHAR" property="checkperson" />
    <result column="CheckDate" jdbcType="TIMESTAMP" property="checkdate" />
    <result column="CheckCompany" jdbcType="VARCHAR" property="checkcompany" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ScanID, CargoSum, CheckPerson, CheckDate, CheckCompany
  </sql>
  <select id="selectByExample" parameterType="com.sor.entity.SorCheckBoundExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sor_checkbound
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sor.entity.SorCheckBoundExample">
    delete from sor_checkbound
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sor.entity.SorCheckBound">
    insert into sor_checkbound (id, ScanID, CargoSum, 
      CheckPerson, CheckDate, CheckCompany
      )
    values (#{id,jdbcType=VARCHAR}, #{scanid,jdbcType=INTEGER}, #{cargosum,jdbcType=INTEGER}, 
      #{checkperson,jdbcType=VARCHAR}, #{checkdate,jdbcType=TIMESTAMP}, #{checkcompany,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sor.entity.SorCheckBound">
    insert into sor_checkbound
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scanid != null">
        ScanID,
      </if>
      <if test="cargosum != null">
        CargoSum,
      </if>
      <if test="checkperson != null">
        CheckPerson,
      </if>
      <if test="checkdate != null">
        CheckDate,
      </if>
      <if test="checkcompany != null">
        CheckCompany,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="scanid != null">
        #{scanid,jdbcType=INTEGER},
      </if>
      <if test="cargosum != null">
        #{cargosum,jdbcType=INTEGER},
      </if>
      <if test="checkperson != null">
        #{checkperson,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null">
        #{checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkcompany != null">
        #{checkcompany,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sor.entity.SorCheckBoundExample" resultType="java.lang.Long">
    select count(*) from sor_checkbound
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sor_checkbound
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.scanid != null">
        ScanID = #{record.scanid,jdbcType=INTEGER},
      </if>
      <if test="record.cargosum != null">
        CargoSum = #{record.cargosum,jdbcType=INTEGER},
      </if>
      <if test="record.checkperson != null">
        CheckPerson = #{record.checkperson,jdbcType=VARCHAR},
      </if>
      <if test="record.checkdate != null">
        CheckDate = #{record.checkdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.checkcompany != null">
        CheckCompany = #{record.checkcompany,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sor_checkbound
    set id = #{record.id,jdbcType=VARCHAR},
      ScanID = #{record.scanid,jdbcType=INTEGER},
      CargoSum = #{record.cargosum,jdbcType=INTEGER},
      CheckPerson = #{record.checkperson,jdbcType=VARCHAR},
      CheckDate = #{record.checkdate,jdbcType=TIMESTAMP},
      CheckCompany = #{record.checkcompany,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>