<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lm.mapper.acc.BasZoneInfoMapper">
  <resultMap id="BaseResultMap" type="com.lm.entity.acc.BasZoneInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ZoneCode" jdbcType="VARCHAR" property="zonecode" />
    <result column="ZoneName" jdbcType="VARCHAR" property="zonename" />
    <result column="ZonePeople" jdbcType="INTEGER" property="zonepeople" />
    <result column="TelPhone" jdbcType="VARCHAR" property="telphone" />
    <result column="SubordinateUnit" jdbcType="INTEGER" property="subordinateunit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ZoneCode, ZoneName, ZonePeople, TelPhone, SubordinateUnit
  </sql>
  <select id="selectByExample" parameterType="com.lm.entity.acc.BasZoneInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bas_zoneinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bas_zoneinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bas_zoneinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lm.entity.acc.BasZoneInfoExample">
    delete from bas_zoneinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lm.entity.acc.BasZoneInfo">
    insert into bas_zoneinfo (id, ZoneCode, ZoneName, 
      ZonePeople, TelPhone, SubordinateUnit
      )
    values (#{id,jdbcType=INTEGER}, #{zonecode,jdbcType=VARCHAR}, #{zonename,jdbcType=VARCHAR}, 
      #{zonepeople,jdbcType=INTEGER}, #{telphone,jdbcType=VARCHAR}, #{subordinateunit,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lm.entity.acc.BasZoneInfo">
    insert into bas_zoneinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="zonecode != null">
        ZoneCode,
      </if>
      <if test="zonename != null">
        ZoneName,
      </if>
      <if test="zonepeople != null">
        ZonePeople,
      </if>
      <if test="telphone != null">
        TelPhone,
      </if>
      <if test="subordinateunit != null">
        SubordinateUnit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zonecode != null">
        #{zonecode,jdbcType=VARCHAR},
      </if>
      <if test="zonename != null">
        #{zonename,jdbcType=VARCHAR},
      </if>
      <if test="zonepeople != null">
        #{zonepeople,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        #{subordinateunit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lm.entity.acc.BasZoneInfoExample" resultType="java.lang.Long">
    select count(*) from bas_zoneinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bas_zoneinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.zonecode != null">
        ZoneCode = #{record.zonecode,jdbcType=VARCHAR},
      </if>
      <if test="record.zonename != null">
        ZoneName = #{record.zonename,jdbcType=VARCHAR},
      </if>
      <if test="record.zonepeople != null">
        ZonePeople = #{record.zonepeople,jdbcType=INTEGER},
      </if>
      <if test="record.telphone != null">
        TelPhone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.subordinateunit != null">
        SubordinateUnit = #{record.subordinateunit,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bas_zoneinfo
    set id = #{record.id,jdbcType=INTEGER},
      ZoneCode = #{record.zonecode,jdbcType=VARCHAR},
      ZoneName = #{record.zonename,jdbcType=VARCHAR},
      ZonePeople = #{record.zonepeople,jdbcType=INTEGER},
      TelPhone = #{record.telphone,jdbcType=VARCHAR},
      SubordinateUnit = #{record.subordinateunit,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lm.entity.acc.BasZoneInfo">
    update bas_zoneinfo
    <set>
      <if test="zonecode != null">
        ZoneCode = #{zonecode,jdbcType=VARCHAR},
      </if>
      <if test="zonename != null">
        ZoneName = #{zonename,jdbcType=VARCHAR},
      </if>
      <if test="zonepeople != null">
        ZonePeople = #{zonepeople,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        TelPhone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="subordinateunit != null">
        SubordinateUnit = #{subordinateunit,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lm.entity.acc.BasZoneInfo">
    update bas_zoneinfo
    set ZoneCode = #{zonecode,jdbcType=VARCHAR},
      ZoneName = #{zonename,jdbcType=VARCHAR},
      ZonePeople = #{zonepeople,jdbcType=INTEGER},
      TelPhone = #{telphone,jdbcType=VARCHAR},
      SubordinateUnit = #{subordinateunit,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>